/* font-family: 'Poppins', sans-serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}
.container {
  padding: 40px;
  margin: 0px auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.wrapper {
  background-color: var(--Violet);
}
header .container {
  background-image: url(../images/bg-mobile.svg);
  background-size: cover;
}
header section:first-child img {
  margin-bottom: 50px;
  width: 130px;
}
header section:last-child img {
  max-width: 100%;
}
header + section {
  text-align: center;
  color: white;
}
header + section h2 {
  margin: 0 auto 20px;
  width: 230px;
}
header + section p {
  width: 270px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.6;
  margin: 0 auto 20px;
}
header + section button {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding: 10px 60px;
  border-radius: 20px;
  border: none;
  outline: none;
  color: var(--Violet);
  transition: 0.3s;
  box-shadow: 0 0 0 0 black;
  cursor: pointer;
}
header + section button:hover {
  background-color: var(--Soft-Magenta);
  color: white;
}
section + section .container {
  width: 250px;
  display: flex;
  justify-content: space-between;
}
section + section a {
  width: 34px;
  height: 34px;
  margin: 0 auto;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  cursor: pointer;
}
section + section a:hover {
  border-color: var(--Soft-Magenta);
  color: var(--Soft-Magenta);
}
section + section i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
@media (min-width: 768px) {
  .container {
    width: auto;
  }
  header .container {
    background-image: none;
  }
  .wrapper {
    background-image: url(../images/bg-desktop.svg);
    max-width: 100%;
    display: flex;
    flex-flow: wrap row;
    min-height: 800px;
  }
  header {
    max-width: 50%;
  }
  header + section {
    max-width: 50%;
    text-align: left;
    margin: auto 0;
  }
  header + section h2 {
    width: 340px;
    font-size: 35px;
    margin: 0;
  }
  header + section p {
    width: 410px;
    margin: 0;
    margin-bottom: 30px;
  }
  header + section + section {
    margin-left: auto;
    margin-right: 100px;
  }
}
